.square{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.squareMain{
    max-width: 300px;
    display: flex;
    border: 1px solid black;
    margin: 50px auto;
    flex-direction: column;
}
.squareList{
    display: flex;
}
.stepMain{
    max-width: 600px;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
}
.stepList{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.step{
    width: 100px;
    height: 100px;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.icon{
    font-size: 40px;
}